{
  env: {
    browser: true,
    es2021: true,
    node: true,
  },
  extends: ["plugin:@next/next/recommended"],
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
    },
    ecmaVersion: 12,
    sourceType: "module",
  },
  plugins: ["react"],
  rules: {
    //0 = off, 1 = warn, 2 = error
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
  },
  settings: {
    react: {
      version: "detect",
    },
  },
  globals: {
    wx: true,
    PIXI: true,
    Promise: true,
  },
}
