$main-color: #eee;

.page {
  padding: 30px;
}

.page-header {
  margin-bottom: 30px;
}

.page-tool-mail,
.page-tool-qrcode {
  .title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .container {
    display: flex;
    .left {
      width: 400px;
    }
    .right {
      margin: 20px 30px;
    }
  }
  canvas {
    border-radius: 10px;
  }
}

.page-tool-qrcode {
  canvas {
    position: fixed;
    top: 20%;
    border-radius: unset;
  }
}

.page-tool-barcode {
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-tool-markdown {
  .preview {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
}

.page-file-upload {
  .card {
    width: 100%;
    height: 240px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 12px #efe6e6;
    color: #333;
    .text {
      margin-top: 20px;
    }
  }
}

.page-home {
  [class~="ant-col"] {
    background: transparent;
    border: 0;
  }
  [class~="ant-col"] .card {
    height: 200px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 12px #efe6e6;
    color: #333;
    .text {
      margin-top: 20px;
    }
  }
}

.page-article {
  .page-header {
    margin-bottom: 30px;
  }
  .controls {
    margin-bottom: 30px;
  }
}

.page-activity-list {
  .search-form {
    margin: 20px 0;
  }
}

.page-framer {
  height: 100%;
  position: relative;

  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .card {
    margin-bottom: 20px;
  }

  .card div {
    background: red;
    border-radius: 30px;
    width: 50px;
    height: 50px;
  }

  .card button {
    background: red;
    width: 100px;
    height: 40px;
    border: none;
  }
}
