.page-tool-mail {
  margin: 20px;
  .title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .container {
    display: flex;
    .left {
      width: 400px;
    }
    .right {
      margin: 20px 30px;
    }
  }
  canvas {
    border-radius: 10px;
  }
}
